example.com {
	root	/var/www/
	timeouts none
	tls {
		dns vultr
		protocols tls1.1 tls1.2
	}
	index	index.html
	header	/ Strict-Transport-Security "max-age=31536000;"
	proxy	/nvidia https://localhost:30006 {
		header_upstream Host "example.com"
		header_upstream X-Forwarded-Proto "https"
		insecure_skip_verify
	}
	log / /var/log/caddy/example.com.log {
		rotate_size 50
		rotate_age 90
		rotate_keep 5
	}
}
