example.com {
	root /var/www/
	timeouts none
	tls {
		dns vultr
		protocols tls1.1 tls1.2
	}
	gzip
	index index.html
	header	/ Strict-Transport-Security "max-age=31536000;"
	proxy /ws localhost:10086 {
		websocket
		header_upstream -Origin
	}
	log / /var/log/caddy/example.com.log {
		rotate_size 50
		rotate_age 90
		rotate_keep 5
	}
}
